<form method="post" action="show/add" id="new-show-form" class="form-group">
    <input type="text" class="form-control" placeholder="Nom du spectacle" name="show-name" />
    <input type="text" class="form-control datepicker" placeholder="Date du spectacle" name="show-date" />
    <button class="btn btn-success" type="submit">Ajouter</button>
</form>
<hr />
<button class="btn btn-danger" id="hide-show-form">Ne plus ajouter</button>